<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="book" class="com.gavin.pojo.Book">
<!--    构造注入-->
    <constructor-arg index="0" value="1001"/>
    <constructor-arg index="1" value="java"/>
    <constructor-arg index="2" value="清华出版社"/>
    <constructor-arg index="3" value="77.8"/>
    <constructor-arg index="4" value="计算机"/>
    <constructor-arg index="5" value="100"/>
</bean>
   <bean id="user" class="com.gavin.pojo.User">
       <property name="name" value="小明"/>
       <property name="age" value="18"/>
       <property name="birthday" value="1998-09-09"/>
   </bean>

    <bean id="userDao" class="com.gavin.dao.UserDaoImp" autowire="byName"/>

    <bean id="userService" class="com.gavin.service.UserServiceImp" autowire="byName" />
<bean id="userController" class="com.gavin.controller.UserControllerImp" autowire="byName"/>
</beans>